@import "../../../common-styles/mixins";

.modalCover {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: -105px;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
}

.modal {
    position: absolute;
    width: 200px;
    top: 60px;
    left: calc(50% - 100px);
    padding: 10px 5px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(223, 239, 250);
    border: 2px solid rgb(97, 97, 97);
    border-radius: 8px;
    z-index: 5;

    .modalTextWin {
        font-size: 30px;
        letter-spacing: 3px;
        margin-bottom: 10px;

        &::before {
            content: "😎";
        }
    }

    .modalTextLose {
        font-size: 30px;
        margin-bottom: 10px;

        &::before {
            content: "🤨";
        }
    }
    .dailyWord {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .newGamebtn {
        border: 2px dotted rgb(97, 97, 97);
        border-radius: 5px;
        padding: 5px 10px;
    }

    .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        user-select: none;
    }
}

@include media-md {
    .modal {
        width: 400px;
        left: calc(50% - 200px);
        font-size: 24px;
    
        .modalTextWin {
            font-size: 40px;
            letter-spacing: 3px;
        }
    
        .modalTextLose {
            font-size: 40px;
        }
        .dailyWord {
            font-size: 50px;
            letter-spacing: 5px;
        }
    }
}