@import '@fontsource/patrick-hand-sc';

.main {
    font-family: 'Patrick Hand SC', sans-serif;
    font-weight: normal;
    position: relative;
    flex-grow: 1;
}

.container {
    flex-direction: column;
    height: 100%;
}

.row_wrongGuess{
    animation: 0.5s ease-in-out wrongGuess;
}

@keyframes wrongGuess {
0% {
    transform: translateX(2px);
}
30% {
    transform: translateX(-5px);
}
40% {
    transform: translateX(5px);
}
50% {
    transform: translateX(-5px);
}
60% {
    transform: translateX(5px);
}
70% {
    transform: translateX(-5px);
}
100% {
    transform: translateX(3px);
}
}