@import '@fontsource/lobster-two/700.css';
@import '../../common-styles/mixins';

.header {
    font-family: 'Lobster Two', sans-serif;
    padding: 0 5px;
    // margin-bottom: 30px;
    border-bottom: 2px dotted rgb(97, 97, 97);
    font-size: 15px;
    font-weight: bold;

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .stats {
        background: url(../../assets/img/stats.svg) center no-repeat;
        background-size: 75%;
        width: 30px;
        height: 30px;
    }

    .info {
        background: url(../../assets/img/info.svg) center no-repeat;
        background-size: 75%;
        width: 30px;
        height: 30px;
    }
}

@include media-md {
    .header {
        font-size: 20px;
        padding: 0 50px;

            .info,
            .stats {
                width: 50px;
                height: 50px;
            }
    }
}