@import '@fontsource/patrick-hand-sc';
@import '../../common-styles/mixins';

.stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

canvas {
    margin-top: -10px;
    min-height: 150px;
    height: 150px !important;
}

@include media-md {
    .stats {
        padding-top: 5px;
    }

    canvas {
        min-height: 200px;
        height: 200px !important;
    }
}