@import "../../../../common-styles/variables";
@import "../../../../common-styles/mixins";

.container {
    background-color: transparent;
    width: $square-size-sm;
    height: $square-size-sm;
    perspective: 1000px;
    text-transform: capitalize;

    .cell {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        user-select: none;
        transform-style: preserve-3d;
        border: 2px solid rgb(97, 97, 97);
        line-height: 1.1;

        &__active {
            transform: rotateX(180deg);
            transition: transform 0.8s ease;
        }

        &__front,
        &__back {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(251, 255, 215);
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        &__back {
            transform: rotateX(180deg);
        }
    }
    @include cell_x;
    @include cell__back_color;
}

@include media-md {
    .container {
        width: $square-size-md;
        height: $square-size-md;
    }
}